body{
    background-color: rebeccapurple;
}
header{
    background-color: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}
.contenedor-main{
    margin-bottom: 20px;
}
main{
    background-color: #fff;
    color:  #424242;
    padding: 20px 0;

}

aside{
    background-color: #dee5e8;
    padding: 60px 0;
    color: #047104;
}

.widgets{
    background-color: #f2f2f2;
    margin-bottom: 20px;
    color: #424242;
}
.widgets > div {
    background-color: #2196f3;
    color:#000;
    padding: 20px;
}
footer{
    background-color: #fff;
    padding: 20px;
}